<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mapping">
    <meta name="author" content="Ariel Kadouri">
    <title>Ariel's Artistry</title>
    <!-- Custom styles for this template -->
    <%- css('css/blog.css') %>
</head>