<h3>Ariel Kadouri</h3>
<p>ariel [at] arielsartistry.com</p>
<p>Geographer<br>Software Developer<br>Maker</p>
<a id="twitter" href="https://twitter.com/akadouri">twitter</a><br>
<a id="github" href="https://github.com/akadouri">github</a>

<svg id="seattle" width="150" height="240" style="display: block"></svg>
<svg id="brooklyn" width="150" height="150" style="display: block"></svg>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>

<script>
	var isHome = <%- is_home() %>;
	d3.json("<%- url_for('/js/seattle.json') %>", function(rawD) {
		var svg = d3.select("#seattle"),
			margin = {
				top: 20,
				right: 0,
				bottom: 0,
				left: 0
			},
			width = +svg.attr("width") - margin.left - margin.right,
			height = +svg.attr("height") - margin.top - margin.bottom,
			g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		rawD.forEach(function(data) {
			var x = d3.scaleLinear().rangeRound([0, width]);
			var y = d3.scaleLinear().rangeRound([height, 0]);
			var line = d3.line()
				.x(function(d) {
					return x(d.lat);
				})
				.y(function(d) {
					return y(d.lon);
				});

			x.domain([-122.43595825676772, -122.23601168840418]); //-122.3359849726
			y.domain([47.49551360400823, 47.73416492862791]); //47.6148392663

			var path = g.append("path")
				.datum(data)
				.attr("fill", "none")
				.attr("stroke", "steelblue")
				.attr("stroke-linejoin", "round")
				.attr("stroke-linecap", "round")
				.attr("stroke-width", 1.5)
				.attr("d", line);

			var totalLength = path.node().getTotalLength();

			path
				.attr("stroke-dasharray", totalLength + " " + totalLength)
				.attr("stroke-dashoffset", totalLength)
				.transition()
				.duration(isHome ? 4000: 0)
				.ease(d3.easeCubic)
				.attr("stroke-dashoffset", 0);
		});
	});



	d3.json("<%- url_for('/js/brooklyn.json') %>", function(rawD) {
		var svg = d3.select("#brooklyn"),
			margin = {
				top: 20,
				right: 0,
				bottom: 0,
				left: 0
			},
			width = +svg.attr("width") - margin.left - margin.right,
			height = +svg.attr("height") - margin.top - margin.bottom,
			g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		rawD.forEach(function(data) {
			var x = d3.scaleLinear().rangeRound([0, width]);
			var y = d3.scaleLinear().rangeRound([height, 0]);
			var line = d3.line()
				.x(function(d) {
					return x(d.lat);
				})
				.y(function(d) {
					return y(d.lon);
				});

			x.domain([-74.0448, -73.83358]);
			y.domain([40.56952999448, 40.739114772]);

			var path = g.append("path")
				.datum(data)
				.attr("fill", "none")
				.attr("stroke", "steelblue")
				.attr("stroke-linejoin", "round")
				.attr("stroke-linecap", "round")
				.attr("stroke-width", 1.5)
				.attr("d", line);

			var totalLength = path.node().getTotalLength();

			path
				.attr("stroke-dasharray", totalLength + " " + totalLength)
				.attr("stroke-dashoffset", totalLength)
				.transition()
				.duration(isHome ? 4000: 0)
				.ease(d3.easeCubic)
				.attr("stroke-dashoffset", 0);
		});
	});
</script>
