<div class="blog-post">
    <!-- Title -->
    <h1 class="blog-post-title">
        <%- item.title %>
    </h1>
    <!-- Date and Author -->
    <p class="blog-post-meta">
        Posted <%= item.date.format(config.date_format) %>
        <br>
        <% if(item.updated) { %>
            Updated <%= item.updated.format(config.date_format) %>
        <% } %>
    </p>
    <!-- Content -->
    <%- item.content %>
    <hr />
    <!-- Tags and Categories links -->
</div>
